

<main>
   <div class="row">
      <div class="address headerGrey">
         <h3 class="addressMarginBottom" >Currently Visiting:</h3>
         <h3>{{storeInfo.name}}</h3>
         <h3>{{storeInfo.addressLine1}}, {{storeInfo.city}} {{storeInfo.state}} {{storeInfo.zipCode}}</h3>
      </div>
   </div>
</main>
<main>
   <div>
      <br>
      <b>
         <h2 class="cartSumarryTitle text-left">Cart Summary </h2>
      </b>
      <hr class="cardBorder">
      <table width=auto border=0>
         <tr (click)="edit()">
            <td width=20%><img style="max-height: 50px; max-width: 50px;"  [src]="tickImage"></td>
            <td width=80%>
               <h3>{{savedCartInfo.make}} {{savedCartInfo.model}} {{savedCartInfo.deviceDetails?.color}}</h3>
               <small>
                  <p class="NotinStockGrey" style="color:green;">In stock</p>
               </small>
            </td>
         </tr>
         <tr class="cartBottomMargin" (click)="pricingOption_flag?price():$event.stopPropagation()">
            <td width=20%> <img style="max-height: 50px; max-width: 50px;" [src]="pricingOption_flag?tickImage:questionImage"></td>
            <td width=80%>
           
			<h3>{{pricingOption_flag?pricingOption_name:"" }} </h3>  
            <small>
                 <p class="NotinStockGrey">{{contentData?.pricingplanLabel}}</p>
                 
              </small>
            </td>
         </tr>
         <tr class="cartBottomMargin" (click)="ProtectionPlan_flag?protection():$event.stopPropagation()">
            <td width=20%> <img style="max-height: 50px; max-width: 50px;" [src]="ProtectionPlan_flag?tickImage:questionImage"> </td>
            <td width=80%>
			 <h3>{{ProtectionPlan_flag?ProtectionPlan.displayName:"" }}</h3>
			 
			 
			 
              <small>
                 <p class="NotinStockGrey">{{contentData?.protectionLabel}}</p>
              </small>

            </td>
         </tr>
      </table>
   </div>
   <hr>
   <div class="text-center">
      <button (click)="continue()" class="btn btn-secondary continue-button $buttontext:#ffffff;" type="button" >{{contentData?.continueButton}}</button>
   </div>
   <div class="text-center">
      <button (click)="edit()" class="btn btn-secondary edit-button" type="button">{{contentData?.editSelectionsButton}}</button>
   </div><br><br><br><br>
</main>
