<div id="main-container">
    <h1 class="page-heading text-center" id="loginTitle">Log in to manage your account</h1>
    <div class="containerLogin login-page-content ">
        <div class="row  autoSize ">
            <!--Login widget-->
            <div id="attLoginWidget">
                <form class="span12 autoSize-this login-widget lw-box-sizing login-widget-vertical tooltip-bottom ng-pristine ng-valid" method="Post">
                    <fieldset>
                        <div class="row no-flex">
                            <div class="span myatt-logo-wrapper"><img alt="MyATT Logo" id="myattLogoId" src="https://www.att.com/ecms/dam/att/consumer/services/myatt-logo.png"></div>
                            <div class="span4">
                                <div class="form-row lgwgUserIdSec">
                                    <div class="field-group tooltip-onclick">
                                        <label for="userName">{{contentData?.usernameLabel}}</label>
                                        <!-- <button data-toggle="button" class="help-tooltip" id="user-id-tooltip" aria-expanded="false" aria-describedby="userInputHelperText"
                                            type="button"><i class="hidden-spoken">User ID Help Tooltip</i></button>
                                        <div role="tooltip" id="userInputHelperText" class="tooltip-helpertext">
                                            <div class="popover-title">Log in using your:</div>
                                            <div class="tooltip-content">
                                                <ul>
                                                    <li>AT&amp;T Access ID (example: username1)
                                                        <a>
                                                                                                <br> </a>
                                                        <a target="_blank" href="//www.att.com/support/att-access-id.html">Learn more about Access IDs</a>
                                                    </li>
                                                    <li>Wireless number (example: 555.555.5555)
                                                        <a>
                                                                                                <br> </a>
                                                        <a target="_blank" href="//www.att.com/esupport/article.html#!/wireless/KM1008921">When can I use my wireless number</a>?</li>
                                                    <li class="bullet">DIRECTV email</li>
                                                </ul>
                                            </div>
                                        </div> -->
                                        <input type="text" aria-label="user id" class="loginInput lgwgUserId span12 lw-box-sizing" id="userName" autocomplete="off"
                                            autocorrect="off" autocapitalize="off" spellcheck="false" isdefaultvalueset="true">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="form-row lgwgPasswordSec">
                                    <div class="field-group tooltip-onclick">
                                        <label for="password">{{contentData?.passwordLabel}}</label>
                                        <!-- <button data-toggle="button" class="help-tooltip" id="password-tooltip" aria-describedby="password-tooltip-txt" aria-expanded="false"
                                            type="button"><i class="hidden-spoken">Password Help Tooltip</i></button>
                                        <div role="tooltip" id="password-tooltip-txt" class="tooltip-helpertext">
                                            <div class="tooltip-content">
                                                <p></p>
                                                <p>Your 6-24 character password</p>
                                                <p>AT&amp;T PREPAID&nbsp;users: 4-digit password</p>
                                                <p>Don't remember your password?
                                                    <br> Choose <b>Forgot password.</b>
                                                    <br> </p>
                                                <p></p>
                                            </div>
                                        </div> -->
                                        <input type="password" aria-label="password" class="loginInput lgwgPassword span12 lw-box-sizing" id="password" autocomplete="off"
                                            autocorrect="off" autocapitalize="off" spellcheck="false">
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="form-row section-font-login">
                                    <button id="loginButton" type="submit" 
                                        class="btn-login btn-login-secondary-blue btn-login-max lgwgLoginButton wt_BodyLoginWidgetFormSubmit"
                                        (click)="login()"><span>{{contentData?.loginButton}}</span></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--Login widget ends-->
        </div>
    </div>
    <br />
    <app-login-promotion></app-login-promotion>
</div>