
<main>
<div class="row">
	<div class="address headerGrey">
		<h2 class="addressMarginBottom">Currently Visiting:</h2>
		<h3>{{storeInfo.name}}</h3>
		<h3>{{storeInfo.addressLine1}}, {{storeInfo.city}}
			{{storeInfo.state}} {{storeInfo.zipCode}}</h3>
	</div>
</div>
</main>
<app-pageloader [pageStatus]="loader"></app-pageloader>
<main>
<div class="row">
	<h2 class="cartSumarryTitle text-left">
		<b>Devices available at this store </b>
		<p class="text-left inline">
			<button (click)="filterFunction()"
				class="btn apply-button pull-right">{{contentData?.filterButtonLabel}}</button>
	</h2>
	<input class="cartSumarryTitle" type="text" aria-haspopup="true"
		[(ngModel)]="filter.shortDescription" aria-autocomplete="list"
		autocomplete="off" placeholder="Search devices" name="q"
		id="search" aria-label="Search">
	<hr class="cardBorder">
	<filter-page *ngIf="advFilter" [deviceDetails]="deviceInfo"
		(closeFilter)="toggleFilter($event)"
		(filteredDeviceDetails)="selected($event)"></filter-page>
	<div class="form-group" id="errorMessageContainer"
		style="display: none; text-align: center; border: 1px solid red; border-radius: 4px; padding: 8px; color: red; font-weight: bold;"></div>
	<div *ngFor="let data of  deviceDetailInfo | makeFilter : filter">
		<div class="productListing">
			<table width=100%>
				<tr>
					<td width=20%><img class="listingImage"
						src="{{data.imageURL}}-{{data.color}}-964x750.jpg"></td>
					<td width=70%>
						<p class=" text-left_store inline">
							<label>{{data.shortDescription}}</label> <small><p
									class="storePrice grayText">
									from <label>{{data.defaultDevicePrice |
										currency:'USD':true}}</label> per month
								</p></small>
							<!--   <small><p class="inStockGreen">{{data.totalInStock}} in stock</small> -->

							<small><p class="grayText">
									<!--{{data.InstallmentPlanInfo.LongDescription}}-->
								</p></small>
					</td>
					<td width=10%><span (click)="goToDeviceDetail(data.model)"
						class="arrow"><i class="icon-right"
							style="cursor: pointer; margin-top: 35px;"></i></span></td>
				</tr>
			</table>
			<!-- <label class="arrow" style="cursor:pointer"> <img (click)="goToDeviceDetail(data.model)" src="./../../assets/img/arrow.jpeg" ></label>-->
			<!--<deviceDetails-page [disabled]="true" [deviceSelected]="SelectedDeviceDetails"></deviceDetails-page>-->
			<hr>
		</div>
	</div>
</div>
</main>
